#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.container {
  padding: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
