.container {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.text {
  margin: 0;
}
.button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  display: block;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}
.button:hover,
.button:focus {
  color: #9c95b8;
}
