.form {
  /* border: 1px solid black; */

  padding: 8px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.blok {
  display: flex;
  gap: 4px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.field {
  font: inherit;
  padding: 4px;
}
.error {
  color: red;
  font-style: italic;
}
.button {
  font: inherit;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: black;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 20px auto;
}
.button:hover,
.button:focus {
  background-color: #9c95b8;
  color: #ffffff;
}
