.button {
  background-color: transparent;

  font-family: inherit;
  font-size: 12px;
  font-weight: 700;
  color: black;

  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
  margin: 20px auto;
}
.button:hover,
.button:focus {
  background-color: #9c95b8;
  color: #ffffff;
}
.box {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
}
.text {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  color: black;
}
